@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/fastup-sc');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Poppins", sans-serif;
    }

    h1, button {
        font-family: "Fastup SC", sans-serif;
    }

    button {
        @apply rounded-md text-xl
    }

    section {
        @apply py-16
    }

    .bg-light-green {
        @apply -z-10 relative;

    }

    #games-preview > div {
        position: relative;
    }

    #games-preview > div::before,
    #games-preview > div::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 30%;
        background: linear-gradient(to right, rgba(0, 0, 0, 1.5), transparent);
    }

    #games-preview > div::before {
        left: 0;
    }

    #games-preview > div::after {
        right: 0;
        transform: scaleX(-1);
    }

    #what-is {
        position: relative;
    }

    #what-is::before {
        content: '';
        position: absolute;
        top: -1800px;
        bottom: -450px;
        background-image: url('svg/what_is_bg.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        z-index: -1;
    }

    #games-preview {
        position: relative;
    }

    #games-preview::before {
        content: '';
        position: absolute;
        top: -180px;
        bottom: 0;
        background-image: url('svg/games_preview_bg.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        z-index: -1;
    }

    #games-number {
        position: relative;
    }

    #games-number::before {
        content: '';
        position: absolute;
        top: -50px;
        bottom: 0;
        background-image: url('svg/games_number_bg.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        z-index: -1;
    }

    #login {
        position: relative;
    }

   /* #login::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        background-image: url('svg/.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        z-index: -1;
    }*/

    @media screen and (max-width: 768px) {
        #games-number::before {
            display: none;
        }
        #games-preview::before {
            display: none;
        }
        #what-is::before {
            display: none;
        }
        #login::after {
            display: none;
        }
    }
}
